# Module 2 Labs

## Lab 1
**The SELECT statement**
\--Returns all columns and all rows 
SELECT \* FROM theTable; 
\--Returns just three columns but all the rows 
SELECT column1, column2, column3 
FROM theTable; 
**TOP** 
\--Returns just 100 rows 
SELECT TOP(100) column1, column2, column3 
FROM theTable; 
\--Returns just 10% of rows 
SELECT TOP(10) PERCENT column1, column2, column3 
FROM theTable; 
**DISTINCT**
\--Returns a unique set of rows 
SELECT DISTINCT colum1, column2, column3 
 FROM theTable; 
**Aliases** 
\--Using an alias 
SELECT column1 AS \[Another Name\], column2 as TheColumn, column3 as “Another Column” 
FROM theTable AS A

Use AdventureWorks2019 for this lab

1\. Write a SELECT statement that queries the Sales.Customer table. Include the CustomerID, StoreID and the AccountNumber.

2\. Write a SELECT statement that returns a unique list of FirstName and LastName values from Person.Person.

3. Write a SELECT statement that returns 50% of the Sales.SalesOrderHeader rows. Return SalesOrderID and OrderDate.

## Lab 2
**ORDER BY**
\--Use ORDER BY to sort the rows returned 
SELECT column1, column2 
FROM theTable 
ORDER BY column2; 
\--May specify multiple columns 
SELECT column1, column2 
FROM theTable 
ORDER BY column2, column1; 
\--May specify **DESC** for descending order 
SELECT column1, column2 
FROM theTable 
ORDER BY column2 DESC; 
SELECT column1, column2 
FROM theTable 
ORDER BY column2 DESC, column1;

Use AdventureWorks2019

  

1\. Write a query that returns the BusinessEntityID and name columns from the Person.Person table. Sort the results by Lastname, Firstname, and MiddleName.

2. Modify the query written in question 1 so that the data is returned in the opposite order