# Module 4: Expressions and functions

## Lab 1

### Expressions 

\--Concatenate strings 

SELECT column1 + column2 AS NewColumn 

FROM theTable; 

\------------------------------------------------------------------------

\--Math 

SELECT 1 + 2, column1 \* column2 

FROM theTable; 

\------------------------------------------------------------------------  

\--Cast an integer to a string 

SELECT CAST(ID as varchar(10)) + Name AS CustID 

FROM theTable; 

SELECT CONVERT(varchar(10), ID) + Name AS CustID 

FROM theTable; 

\------------------------------------------------------------------------  

\--See CAST and Convert article for styles 

SELECT CONVERT(varchar(10),OrderDate,101) AS FormattedDate 

FROM theTable; 

\------------------------------------------------------------------------  

\--Replace NULL with an empty string 

SELECT FirstName + ' ' + ISNULL(Middlename, '') + ' ' + LastName 

FROM Names;

1. Write a query using the Production.Product table displaying the Product ID, Color, and Name columns. Add a 
column called Description formatted as “Name: Color”. If the color is missing, substitute “N/A”.

2. Write a query using the Sales.SpecialOffer table. Display MinQty and MaxQty columns and the difference between them along with the SpecialOfferID and Description columns.

## Lab 2

[What are the Microsoft SQL database functions? - SQL Server | Microsoft Docs](https://docs.microsoft.com/en-us/sql/t-sql/functions/functions?view=sql-server-ver15)

[String Functions (Transact-SQL) - SQL Server | Microsoft Docs](https://docs.microsoft.com/en-us/sql/t-sql/functions/string-functions-transact-sql?view=sql-server-ver15)

String functions 

• RTRIM, LTRIM -- remove spaces 

• LEFT, RIGHT -- return a number of characters 

• LEN, DATALENGTH -- return the length 

• CHARINDEX -- find a string 

• SUBSTRING -- return part of a string 

• REVERSE -- returns the string backwards 

• UPPER, LOWER -- returns all upper or lower case 

• REPLACE -- replace part of a string 

• CONCATENATE – build a string and it takes care of NULL and conversions

These functions are best used in the SELECT and ORDER BY clauses

1. Write a query displaying the BusinessEntityID from the Person.Person table. Also return the first and last names all in uppercase.

2. Return the first initial and last name from all the names in the Person.Person table.

3. Return the LastNames from Person.Person in spelled reverse order

## Lab 3

**Date functions**

[Date and Time Data Types and Functions - SQL Server (Transact-SQL) | Microsoft Docs](https://docs.microsoft.com/en-us/sql/t-sql/functions/date-and-time-data-types-and-functions-transact-sql?view=sql-server-ver15) 

• GETDATE, SYSDATETIME -- returns the server date 

• DATEADD -- adds a time period to a date 

• DATEDIFF -- subtract a time period from a date 

• DATENAME, DATEPART -- returns part of a date 

• DAY, MONTH, YEAR -- returns part of a date 

• CONVERT and FORMAT – formatting dates 

• MM = months, mm = minutes (when using the Format function)

1. Write a query that calculates the number of days between the date an order was placed and the date that it was shipped using the Sales.SalesOrdeHeader table. Include the SalesOrderID, OrderDate, and ShipDate columns. (Note that the answer is 7 for all the rows).

2. Write a query that displays only the date, not the time, for the OrderDate, DueDate, and ShipDate in the Sales.SalesOrderHeader table. Try to use a different function for each column.

3\. Write a query that adds six months to each OrderDate in the Sales.SalesOrderHeader table. Include the SalesOrderID and OrderDate columns.